.vscode
Arma3SSPSL/*

!Arma3SSPSL/parameters.json
!Arma3SSPSL/start.cmd

!Arma3SSPSL/scripts/

!Arma3SSPSL/presets/
Arma3SSPSL/presets/*
!Arma3SSPSL/presets/CUP.txt
!Arma3SSPSL/presets/Default.txt

!Arma3SSPSL/config/
Arma3SSPSL/config/*
!Arma3SSPSL/config/basic.cfg
!Arma3SSPSL/config/server.cfg

!Arma3SSPSL/profiles/
Arma3SSPSL/profiles/*
!Arma3SSPSL/profiles/Users/
Arma3SSPSL/profiles/Users/*
!Arma3SSPSL/profiles/Users/serverProfile
Arma3SSPSL/profiles/Users/serverProfile/*
!Arma3SSPSL/profiles/Users/serverProfile/serverProfile.Arma3Profile